body {
  font: normal 15pt arial;
  background-color: rgb(2, 2, 88);
}
header {
  color: white;
  text-align: center;
}
section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;

}

#msg{
  margin-bottom: 15px;
  text-align: center;
}

img#manha {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}


footer {
  color: white;
  text-align: center;
  font-style: italic;
}
