body{
    background-color: rgb(20, 39, 148);
    font: arial 18pt normal;
}

header{
font-family: 'Creepster', cursive;
  color: orange;
  text-shadow: 2px 2px 6px black;
  font-size: 48px;
  text-align: center;
}

section{
background-color: rgb(202, 135, 10);
width: 450px;
height: 400px;
margin: auto;
align-items: center;
border-radius: 10px;
}

#res{
  text-align: center;
  background-color: rgb(202, 135, 10);
  border-radius: 12px;
  margin: 20px auto;
}
#botao{
    width: 80px;
    height: 50px;
    background-color: purple;
    color: white;
    font-size: 1.1em;
}
#botao:hover{
    width: 80px;
    height: 50px;
    background-color: rgb(53, 1, 53);
    color: white;
    font-size: 1.1em;
}
#container1{
 display: flex;
    margin-left: 80px;
}

#container2{
    margin-left: 80px;
}
#botao{
    display: block;
    margin: 15px auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(82, 3, 146);
    box-shadow: inset;
    transition: all 0.3s ease;
}

#foto{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 15px auto;
}

